@media screen and (max-width: 800px) {
  #app {
    .container {
      width: 90%;
      align-items: flex-start;
    }
    .header {
      width: 70%;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 20px;
      align-self: flex-start;

      .logo1 {
        display: flex;
        flex-direction: column;

        svg {
          &:first-child {
            width: 40%;
            height: auto;
          }

          &:last-child {
            width: 100%;
            height: auto;
            margin: 20px 0;
          }
        }
      }

      .logo2 {
        display: flex;
        justify-content: flex-start;
        svg {
          width: 70%;
          height: auto;
        }
      }

      i {
        display: none;
      }
    }

    .download-btn {
      padding: 8px 16px;
      margin-bottom: 16px;
    }

    footer {
        span {
            margin-bottom: 20px;
        }
    }
  }
}
